.footerWrap {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  bottom: 0;
  width: 100%;
  height: max-content;
  left: 0;
  bottom: 0;
}

.wrapperFlex {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks {
  list-style: none;
}

.footerLink {
  transition: none;
  text-decoration: none;

  color: white;
}

.footerLink:hover {
  color: darkgrey;
}

.footerLink:active {
  color: rgb(54, 54, 54);
}

.footerName {
  color: white;
  padding: 1rem;
  padding-right: 0;
  padding-left: 0;
  font-weight: lighter;
}

.listItemFooter {
  margin: 1rem 0 1rem 0;
}

.socialMedia {
  color: white;
  text-decoration: none;

  padding: 0 0.5rem;
}

.socialMedia:hover {
  color: darkgrey;
}

.socialMedia:active {
  color: rgb(54, 54, 54);
}

@media screen and (max-width: 652px) {
  .footerName {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .wrapperFlex {
    display: grid;

    grid-template-rows: 2fr 1fr 2fr;
    text-align: center;
    justify-content: center;
    padding: 0;
  }

  .footerName {
    width: 100%;
  }
}
