.footerWrap {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  bottom: 0;
  width: 100%;
  height: max-content;
  left: 0;
  bottom: 0;
}

.wrapperFlex {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerLinks {
  list-style: none;
}

.footerLink {
  transition: none;
  text-decoration: none;
  padding: 1rem;
  color: white;
}

.footerLink:hover {
  color: darkgrey;
}

.footerLink:active {
  color: rgb(54, 54, 54);
}

.footerName {
  color: white;
  padding: 1rem;
  font-weight: lighter;
}

.listItemFooter {
  margin: 1rem;
}

.socialMedia {
  color: white;
  text-decoration: none;

  padding: 0 0.5rem;
}

.socialMedia:hover {
  color: darkgrey;
}

.socialMedia:active {
  color: rgb(54, 54, 54);
}
